.homeContainer {
}

.mainContent {
    display: flex;
    flex-direction: column;
    padding: 85px 6vw 2rem 6vw;
    gap: 40px;
}

.section {

}

.heading {
    font-size: 1.3rem;
    font-weight: bold;
}

@media (max-width: 840px) {
    .mainContent {
        padding-top: 115px;
    }
}