.navbarContainer {
    background-color: #f8f8f8;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navList {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px; /* Space between items */
}

.navItem a {
    text-decoration: none;
    color: #333; /* Change to your preferred color */
}

.navItem a:hover {
    text-decoration: underline;
}