.authFormContainer {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    padding: 20px;
    border-radius: 2rem; 
}

.authFormButton {
    transition: transform 0.3s ease;
}

.authFormButton:hover {
    transform: scale(1.25);
}

.authFormContainer Button {
    background-color: rgba(0, 0, 0, 0);
}

.authFormContainer p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

.authFormContainer p:hover {
    color: var(--secondary-color);
}

.authFormContainer img {
    height: 25vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form input {
    background-color: var(--accent-color);
    padding: 10px 20px;
    border-radius: 2rem;
    outline: none;
}

.form input:focus {
    border: 2px solid var(--secondary-color);
}

.form button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form button:hover {
    background-color: var(--secondary-color);
    color: var(--background);
}

.formContainer h2 {
    font-size: 1.7rem;
}

@media (max-width: 900px) {
    .authFormContainer img {
        height: auto;
    } 
}

@media (max-width: 480px) {
    .authFormContainer {
        width: 85vw;
    }

    .formContainer h2 {
        font-size: 1.5rem;
    }
}