.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 88vw;
    height: 26vw;
    border-radius: 1rem;
}

.cardImage {
    width: 88vw;  
    height: 90%;    
    border-radius: 0.5rem;   
    transition: transform 0.3s ease;   
}

.cardImage:hover {
    transform: scale(1.010);
    cursor: pointer;
}

.cardTitle h1 {
    font-size: 1rem;
    font-weight: bold;
}

.cardDescription {
    height: 25px;
    overflow-y: hidden;
}

.cardDescription p {
    color: var(--secondary-color);
}

.cardImage img {
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

@media (max-width: 840px) {
    .cardContainer {
        height: 75%;
    }

}

/*==================================================GAME CARD======================================================*/
.playViewIcon {
    display: absolute;

}
.gameCardContainer {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 88vw;
    height: 20vw;
}

.gameCardItem {
    display: flex;
    flex-direction: column;
    width: 12%;
    height: 100%;
    border-radius: 0.5rem;
    gap: 5px;
}

.gameCardContainer img {
    background-color: var(--accent-color);
    width: 100%;
    height: 80%;
    border-radius: 0.5rem;
}

.gameTag {
    background-color: var(--accent-color);
    padding: 0 7px;
    border-radius: 0.5rem;
    width: max-content;
}

@media (max-width: 960px) {
    .gameCardContainer {
        height: 25vw;
    }
    .gameCardItem {
        width: 17%;
    }
}

@media (max-width: 770px) {
    .gameCardContainer {
        height: 50vw;
    }
    .gameCardItem {
        width: 32%;
    }
}

/*=============================================DETAILED GAME CARD=================================================*/
.detailedGameCardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 88vw;
    height: 16vw;
    gap: 5px;
}

.detailedGameCardItem {
    background-color: var(--accent-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 16vw;
    border-radius: 0.5rem;
    gap: 5px;
}

.detailedCardImage {
    width: 24%;
    height: 100%;
}

.detailedCardImage img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
}

@media (max-width: 770px) {
    .detailedGameCardContainer {
        height: 20vw;
    }
    
    .detailedGameCardItem {
        height: 20vw;
        width: 80vw;
    }

    .detailedCardImage {
        width: 20%;
    }
}

@media (max-width: 520px) {
    .detailedGameCardContainer {
        height: 40vw;
    }

    .detailedGameCardItem {
        height: 40vw;
        width: 80vw;
        overflow: hidden;
    }

    .detailedCardImage {
        width: 45vw;
    }

    .gameSummary p {
        overflow: hidden;
    }

}

/*=============================================CATEGORY CARD===============================================*/
.categoryCardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 88vw;
    height: 7vh;
}

.categoryCardItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--accent-color);
    height: 100%;
    width: max-content;
    border-radius: 2rem;
    padding: 0.3rem;
    gap: 5px;
}

.categoryCardItem img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/*=====================================================MODAL CSS=====================================================*/
.modalContainer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 20px;
}

.modalButton {
    background-color: rgba(0, 0, 0, 0);
    color: var(--background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 5px;
    transition: transform 0.3s ease;
    font-size: 1.7rem;
}

.modalButton:hover {
    transform: scale(1.25);
}

@media (max-width: 480px) {
    .modalButton {
        font-size: 1.5rem;
    }
}
