.profileDropDown {
    top: 40px;
    right: 0px;
}

.dropDownContainer {
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    z-index: 5000;
    right: 0;
    top: 35px;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}

.searchBar {
    position: relative;
    display: flex;
    align-items: center;
}

.searchBar input {
    border: 1px solid var(--foreground);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.searchBar input:hover {
    border:  1px solid var(--secondary-color);
}
.searchBar input:focus {
    outline: none;
    border:  1px solid var(--secondary-color);
    box-shadow: 0 0 20px 2px var(--secondary-color);
}

.searchIcon {
    position: absolute;
    pointer-events: none;
    right: 1rem;
}

.feedLinkContainer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 120px;
    border-radius: 2rem;
    gap: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.feedLinkContainer:hover {
    transform: scale(1.05);
    background-color: var(--secondary-color);
} 

@media (max-width: 840px) {
    .feedLinkContainer {
        background-color: rgba(0, 0, 0, 0);
        color: var(--primary-color);
        padding: 0 7px;
        justify-content: left;
    }
}